
.searchh{
    position: relative;
    text-align: -webkit-center;
    margin-bottom: 30px;
}

.searchh form{
    width: 35%;
}

.table>tbody>tr>td{
    font-size: 12px;
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 14%;
    float: left;
    position: relative;
    text-align: center;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

#progressbar .acc::before{
    position: relative;
    border-radius: 10%;
}

.nonc{
    position: relative;
    font-size: 20px;
    color : rgb(255, 153, 0);
}

.nonz{
    position: relative;
    font-size: 20px;
    color : rgb(0, 255, 34);
}

.btnnn{
    position: relative;
    margin-bottom: 25px;
}


@media screen and (max-width: 745px){
    #progressbar li:before {
        width: 60px;
        height: 54px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 48px auto;
        padding: 2px;
    }
    #progressbar li{
        float: none;
        width: 300px;
    }
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
        transform: rotate(
    90deg
    );
    }
    b, strong {
        font-weight: 700;
        position: absolute;
        top: 4px;
        left: 3px;
    }

} 


@media screen and (max-width: 745px){
    .container2{
        display: block;
    }
    .container{
        display: none;
    }
}

@media screen and (min-width: 745px){
    .container2{
        display: none;
    }
    .container{
        display: block;
    }
}